In [16]:
import pandas as pd
# Replace 'your_file.csv' with the actual file path
df = pd.read_csv('CSV/Swish-report_2024-10-21_19-53-58.csv', skiprows=1, encoding='ISO-8859-1')

In [18]:
df['Amount'] = pd.to_numeric(df['Amount'], errors='coerce')

In [19]:
amounts_to_filter = [350.00, 700.00, 1050.00]

In [20]:
df_filtered = df[df['Amount'].isin(amounts_to_filter)]

In [25]:
df_result = df_filtered[['Sendername', 'Amount']]

In [26]:
df_result

                    Sendername  Amount
4                 Robert Ryner   350.0
6              DENNIS ERIKSSON   700.0
11       BENITES CABRAL-FELIPE   350.0
19             POELLINGER-ADAM   350.0
24            KOCH-LARS MAGNUS   700.0
25            KOCH-LARS MAGNUS   700.0
30       VERNER-CARLSSON-JENNY   350.0
33     NORBERG- ANDRA CRISTINA   700.0
34                  Marie Berg   700.0
38             CHRISTIAN BAGGE  1050.0
43       KATIE CILIA JØRGENSEN   350.0
44        Simon Junström Skott   350.0
45                   Nils Malm   350.0
46                   Nils Malm   350.0
47                   Nils Malm   350.0
49             Cecilia Persson   350.0
50              LOUISE HELLBOM   350.0
58               NIKLAS LEHMAN   350.0
59               NIKLAS LEHMAN   350.0
60     ÅSEBRING SALINAS-ISABEL   350.0
63        Simon Junström Skott   350.0
67  WILTMAN MILLEDING- REBECCA   700.0
69      Anke Dorothee Dettmann   700.0
70            LINDEROS- MARTIN   700.0

In [27]:

# Convert the 'Amount' column to numeric, coercing errors to NaN
df['Amount'] = pd.to_numeric(df['Amount'], errors='coerce')

# Define the amounts to filter
amounts_to_filter = [350.00, 700.00, 1050.00]

# Filter the DataFrame for specific amounts
df_filtered = df[df['Amount'].isin(amounts_to_filter)]

# Select only 'Sendername' and 'Amount' columns
df_result = df_filtered[['Sendername', 'Amount']]

# Get the list of Sendernames in df_result
sendernames = df_result['Sendername'].unique()

# Find all transactions for these Sendernames with other amounts
df_other_amounts = df[(df['Sendername'].isin(sendernames)) & (~df['Amount'].isin(amounts_to_filter))]

# Select 'Sendername' and 'Amount' columns
df_other_amounts = df_other_amounts[['Sendername', 'Amount']]

# Reset the index for both DataFrames (optional)
df_result.reset_index(drop=True, inplace=True)
df_other_amounts.reset_index(drop=True, inplace=True)

# Display df_result and df_other_amounts side by side
print("Transactions with Amounts 350.00, 700.00, or 1050.00:")
print(df_result)

print("\nOther Transactions for the same Sendernames with different Amounts:")
print(df_other_amounts)

Transactions with Amounts 350.00, 700.00, or 1050.00:
                    Sendername  Amount
0                 Robert Ryner   350.0
1              DENNIS ERIKSSON   700.0
2        BENITES CABRAL-FELIPE   350.0
3              POELLINGER-ADAM   350.0
4             KOCH-LARS MAGNUS   700.0
5             KOCH-LARS MAGNUS   700.0
6        VERNER-CARLSSON-JENNY   350.0
7      NORBERG- ANDRA CRISTINA   700.0
8                   Marie Berg   700.0
9              CHRISTIAN BAGGE  1050.0
10       KATIE CILIA JØRGENSEN   350.0
11        Simon Junström Skott   350.0
12                   Nils Malm   350.0
13                   Nils Malm   350.0
14                   Nils Malm   350.0
15             Cecilia Persson   350.0
16              LOUISE HELLBOM   350.0
17               NIKLAS LEHMAN   350.0
18               NIKLAS LEHMAN   350.0
19     ÅSEBRING SALINAS-ISABEL   350.0
20        Simon Junström Skott   350.0
21  WILTMAN MILLEDING- REBECCA   700.0
22      Anke Dorothee Dettmann   700.0
23            LINDEROS- MARTIN   700.0

Other Transactions for the same Sendernames with different Amounts:
               Sendername  Amount
0    Simon Junström Skott   900.0
1            Robert Ryner   600.0
2   BENITES CABRAL-FELIPE   900.0
3   BENITES CABRAL-FELIPE  1000.0
4  Anke Dorothee Dettmann   600.0
5   VERNER-CARLSSON-JENNY  1000.0
6         Cecilia Persson   600.0